<h2>Formulaire d'ajout</h2>

<form action ="/admin" method="post">
<label>matricule:</label>
<input type="text" name="admin" placeholder="ajouter admin">
<input type="submit" value="Ajouter"/>


</form>