
<h1> la liste des admins </h1>
{% for admin in listAdmin %}

<h3>{{admin.matricule}}</h3>
<a href="/admin/delete?id=<%= admin.id %>" onClick="return confirm('Are u sure?')"> Supprimer </a>


<a href="/admin/update">modifier</a>
{% endfor %}
